@import "tailwindcss";

:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-sans-second: "Spectral", georgia;
}

body {
  padding-top: 4rem;
  color: #333;
  font-family: var(--font-sans);
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1em;
  font-family: var(--font-sans);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
